{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Tableau de bord administrateur</h1>

        <div class="row g-4">
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary w-100 p-4">
                    Réassort
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary w-100 p-4">
                    Consultation de stock
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary w-100 p-4">
                    Comptes vendeuses
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary w-100 p-4">
                    Génération d’étiquettes
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary w-100 p-4">
                    Importation CSV
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-primary w-100 p-4">
                    Journal des ventes / mouvements
                </a>
            </div>
        </div>
    </div>
{% endblock %}
